/target
/lib
/classes
/checkouts
/.hg
/.idea
pom.xml
*.jar
*.class
*.iml
*.asc
*.*.asc
.gitignore
.lein-deps-sum
.lein-failures
.lein-plugins
.DS_Store.lein-repl-history
.nrepl-port
.lein-repl-history
